:host {
  --fondo: #fff9e3;
  --primario: #00a288;
  --secundario: #004e58;
  --lima: #bfd12e;
  --naranja: #fe8029;
  --blanco: #fff;
  --gris: #e8ebf6 0% 0% no-repeat padding-box;
  --letra: #333333;
  --fuentePrincipal: "Helvetica Neue", Arial, sans-serif;
  --fuenteSecundaria: "Helvetica Neue Bold", Arial, sans-serif;
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.5;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body,
.modal {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;

  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 4rem 0;
  padding: 0;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
a {
  text-decoration: none;
}
.contenedor {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 8rem;
  width: 93%;
  overflow: auto;
}

/* COM Filtros */
.filtro {
  height: 70px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.filtro__buscar {
  flex: 1 100%;
  display: flex;
  justify-content: center;
}
.filtro__input {
  height: 36px;
  min-height: 36px;
  width: 100%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3rem;
  border-color: transparent;
  padding-left: 1rem;
  background: var(--gris);
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.2);
  outline: none;
}

.filtro__select{
  flex: 1 100%;
  display: flex;
  justify-content: center;
  border-radius: 3rem;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.2);
  outline: none;
  padding-left: 1rem;
  background: var(--gris);
  border-color: transparent;
  width: 100%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: grey;
  height: 36px;
  min-height: 36px;
  margin-top: 0.5rem;
}

.filtro__input::placeholder {
  padding-left: 1rem;
}

.filtro__genero {
  flex: 1 100%;
  display: flex;
  justify-content: center;
}

/* COM Cards */
.card__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 7rem;
  column-gap: 2rem;
  margin-top: 5rem;
}
.card__card {
  position: relative;
  height: 230px;
  background: var(--blanco);
  border-radius: 20px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  transition: var(--tran-05);
  transition-property: transform;
  transition-duration: 0.3s;
  display: flex;
  flex-direction: column;
}

.card__contenedorImagen {
  position: absolute;
  flex: 1 auto;
  width: 150px;
  height: 150px;
  left: 50%;
  top: -50px;
  transform: translate(-50%);
  background-color: var(--blanco);
  border-radius: 20px;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
}

.card__imagen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: height 0.6s ease-in-out;
}

.card__Contenedores {
  flex: 1 auto;
  display: flex;
  position: absolute;
  height: 30px;

  left: 50%;
  transform: translate(-50%);
  width: 100%;
  justify-content: center;
}
.card__labels {
  font-size: 1.3rem;
  text-align: center;
  display: block;
  padding: 0;
  margin: 0;
}

.card__Contenedores--nombre {
  top: 50%;
}
.card__labels--name {
  color: var(--secundario);
}

.card__Contenedores--genero {
  position: absolute;
  top: 60%;
}

.card__labels--genero {
  color: var(--naranja);
}

.card__ContenedorBoton {
  top: 70%;
  margin-top: 1rem;
}

.card__button {
  width: 100%;
  max-width: 25%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../../../../../assets/general/portal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: var(--secundario);
  font-weight: 700;
  border-radius: 3rem;
  border-color: transparent;
  font-size: 1.2rem;
}

.card__labels--creado {
  color: var(--letra);
  font-size: 1.2rem;
}

/* COM Modal detalle Character********************* */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: all 500ms ease;
}

.modal__contenedor {
  width: 300px;
  height: 430px;
  margin: auto;
  background: var(--blanco);
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  transition: all 500ms ease;
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.modal__nombrePersonaje {
  display: flex;
  flex: 1 20%;
  position: absolute;
  top: 10px;
  left: 27px;
  width: 100%;
  height: 20px;
}
.modal__nombrePersonaje h4 {
  color: var(--naranja);
}
.modal__tipo{
  display: flex;
  flex: 1 20%;
  position: absolute;
  top: 40px;
  left: 27px;
  width: 100%;
  height: 20px;
}

.modal__labelTipo{
  color: var(--primario);
  font-size: 1rem;
}

.modal__contenedorIcono {
  display: flex;
  flex: 1 20%;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal__personajePepino {
  height: 4.2rem;
  transform: translate(25px, -26px);
  cursor: pointer;
}
.modal__contenedorBoton {
  display: flex;
  flex: 1 80%;
}

.modal__botonCerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--naranja);
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
}

.modal__contenedorInformacion {
  position: absolute;
  top: 100px;
  width: 90%;
  display: grid;
  grid-template-row: repeat(2, 1fr);
}

.modal__imagenPersonaje {
  width: 51%;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
  border-radius: 3rem;
  height: 11rem;
  margin: auto;
}

.modal__imagenPersonaje img {
  object-fit: cover;
  border-radius: 3rem;
  height: 11rem;
}

.modal__infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  margin-top: 1rem;
}
.modal__info {
  display: flex;
  width: 100%;
  height: 20px;
  margin-bottom: 0.5rem;
  justify-content: center;
  text-align: center;
}
.modal__label {
  font-size: 1rem;
  color: var(--letra);
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.modal__label span {
  color: var(--naranja);
}

/* COM Boton ir Arriba */
.botonirArriba {
  max-width: 30%;
  border-radius: 1rem;
  background-color: var(--primario);
  color: var(--blanco);
  border-color: transparent;
}

@media screen and (min-width: 768px) {
  .filtro {
    display: flex;
    height: 40px;
    flex-direction: row;
    width: 100%;
  }
  .filtro__buscar {
    flex: 1 50%;
  }

  .filtro__genero {
    flex: 1 50%;
  }
  .card__container {
    grid-template-columns: repeat(auto-fit, minmax(289px, 1fr));
    row-gap: 5rem;
    column-gap: 2rem;
  }
  .card__contenedorImagen {
    width: 170px;
    height: 170px;
  }
  .card__labelName {
    font-size: 1.3rem;
  }
  .card__Contenedores--nombre {
    top: 57%;
  }

  .card__Contenedores--genero {
    top: 68%;
  }
  .card__ContenedorBoton {
    top: 78%;
    margin-top: 0.3rem;
  }
  .modal__contenedor {
    width: 600px;
    height: 400px;
  }
  .modal__label {
    font-size: 1rem;
  }
  .modal__contenedorInformacion {
    grid-template-columns: repeat(2, 1fr);
  }
  .modal__imagenPersonaje {
    width: 98%;
    height: 18rem;
    margin: auto;
  }
  .modal__imagenPersonaje img {
    height: 18rem;
  }
  .modal__infos{
    justify-content: center left;
  }
  .modal__info{
    justify-content: left;
  }
  .filtro__select{
    margin-top: 0;
  }
}

@media screen and (min-width: 1000px) {
  .card__contenedorImagen {
    width: 180px;
    height: 180px;
  }
  .card__labels .card__labels--name {
    font-size: 1.4rem;
  }
  .card__Contenedores--nombre {
    top: 60%;
  }
  .card__Contenedores--genero {
    top: 72%;
  }

  .card__ContenedorBoton {
    top: 84%;
    margin-top: 0rem;
  }
}

@media screen and (min-width: 1200px) {
  .card__contenedorImagen {
    width: 180px;
    height: 180px;
  }
  .card__card {
    height: 290px;
  }
  .card__contenedorImagen {
    width: 200px;
    height: 200px;
  }
}
